@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.main .insights > div {
    margin-top: 0.3rem;
    padding: 0.8rem;
    box-shadow: 0 0.5rem 1rem var(--color-light);
}
.main .insights > div span {
    font-size: 1rem;
}
.pending,
.checked-out,
.total-income{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main .insights h3{
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.main .insights h1{
    margin-bottom: 0;
    margin-top: 0.2rem;
    text-indent: 2.5rem;
}
.booking-header{
    top: 0;
    position:sticky;
}
.nav-card{
    background: var(--color-white) !important;
    border-radius: var(--card-border-radius);
    margin-top: 1.5rem;
    transition: all 300ms ease;
    height: 5rem;
    box-shadow: 0 0.5rem 1rem var(--color-light);
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}
.nav-card:hover{
    box-shadow: none;
}
.aside{
    position: fixed;
    width: 16rem;
}
.nav-card h3{
    font-weight: 600;
}
.nav-card h2{
    font-size: 1.1rem;
}
.nav-card input, .nav-card select{
    font-size: 0.8rem; 
}
.nav-card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-card button{
    font-family: poppins, sans-serif;
    height: 2rem;
    font-size: 0.9rem;
    text-align: center;
}
.booking-table{
    background: var(--color-white) !important;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    transition: all 300ms ease;
    box-shadow: 0 0.5rem 1rem var(--color-light);
}
.booking-table:hover{
    box-shadow: none;
}
.booking-table div nav{
    border-radius: 0rem 0rem 2rem 2rem !important;
}
.control-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.control-header button{
    width: 5rem;
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    margin: 0.1rem;
    padding: 0.2rem;
}
.booking-table header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.booking-table header input[type="text"],
.booking-table header label{
    font-family: poppins, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.booking-table header label{
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    margin-right:0.5rem;
}
.booking-table p{
    font-size: 0.8rem;
    margin-bottom: 0;
    font-weight: 600;
}
.booking-table p.pending{
    color: var(--color-primary);
}
.booking-table p.approved{
    color: var(--color-danger);
}
.booking-table p.checked-in{
    color: rgb(0, 159, 180);
}
.booking-table p.checked-out{
    color: #00bb7d;
}
.booking-report-download{
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #fff !important;
}
.modalHeader{
    border-bottom: 0;
}
.modalHeader p{
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
.modalHeader div{
    display: flex;
    flex-direction: column;
}
.modalHeader p:nth-child(2) {
    font-size: 0.7rem;
    color: #00000080;
}
.qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.modal-body h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.modal-check-in input, 
.modal-check-in label,
.modal-check-in textarea{
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
}
.modal-check-in input,
.modal-check-in textarea{
    margin-bottom: 0.5rem;
}
.modal-check-in{
    padding-left: 1rem;
    padding-right: 1rem;
} 

.modal-check-in label,
.modal-check-in input{
    font-weight: 500;
}
.modal-div-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.modal-div-button button{
    width: 50%;
}
.swalText {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
}
.swalButton {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    width: 10rem !important;
    background: #198754 !important;
}