@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@500&display=swap");
.imageCol {
  width: 100%;
  height: 24rem;
  position: relative;
  z-index: -1;
}
.imageBackground {
  opacity: 0.85;
}
.divTagline {
  margin-top: -16rem;
  padding-left: 1rem;
}
.divTagline h1,
.divTagline p {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}
.divTagline h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: -15px 5px 20px #000000;
  color: white;
  letter-spacing: 0.1rem;
  user-select: none;
  transition: all 0.25s ease-out;
}
.divTagline p {
  margin-top: 1rem;
  font-weight: 700;
  text-shadow: -15px 5px 20px #ffffff;
  color: rgb(0, 0, 0);
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  background-color: #ffffff4f;
  padding: 3px;
  border-radius: 5px;
  width: fit-content;
}

@media (min-width: 768px) {
  .imageCol {
    height: 30rem;
  }
  .divTagline h1 {
    font-size: 2rem;
  }
  .divTagline p {
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
  }
  .divTagline {
    margin-top: -20rem;
    padding-left: 2rem;
  }
}

@media (min-width: 1024px) {
  .imageCol {
    height: 31rem;
  }
  .divTagline h1 {
    font-size: 2.5rem;
  }
  .divTagline p {
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }
  .divTagline {
    margin-top: -22rem;
    padding-left: 2rem;
  }
}

@media (min-width: 1440px) {
  .imageCol {
    height: 35rem;
  }
  .divTagline h1 {
    font-size: 2.5rem;
  }
  .divTagline p {
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }
  .divTagline {
    margin-top: -22rem;
    padding-left: 2rem;
  }
}
