@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.mainContainer {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
}
.mainContainer a {
  color: var(--color-dark);
  font-family: poppins, sans-serif;
}
.mainContainer img {
  display: block;
  width: 100%;
}
.mainContainer h1,
.mainContainer h2,
.mainContainer h3,
.mainContainer h4,
.mainContainer h5 {
  font-family: poppins, sans-serif;
}
.mainContainer h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
.mainContainer h2 {
  font-size: 1.4rem;
}
.mainContainer h3 {
  font-size: 0.87rem;
}
.mainContainer h4 {
  font-size: 0.8rem;
}
.mainContainer h5 {
  font-size: 0.77rem;
}
.mainContainer small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

.mainContainer p {
  color: var(--color-dark-variant);
}
.mainContainer b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.5rem;
  grid-template-columns: 16rem auto;
}
.container aside {
  height: 100vh;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem;
}
.closebtn {
  padding: 0.5rem;
  display: none;
}
.logo {
  display: flex;
  gap: 0.8rem;
}
.logo img {
  width: 3rem;
  height: 3rem;
}
.logo h2 {
  padding-top: 0.5rem;
  font-size: 1.6rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;
  top: 3rem;
}
.sidebar h3 {
  font-weight: 500;
}
.sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 1rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}
.sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}
.sidebar a:last-child {
  color: var(--color-info-dark);
  position: absolute;
  bottom: 2rem;
  width: 100%;
}
.sidebar a:last-child:hover {
  color: var(--color-primary);
}

.sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}
.sidebar a.active:before {
  content: "";
  width: 8px;
  height: 100%;
  background: var(--color-primary);
}
.sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem -3px);
}
.sidebar a:hover {
  color: var(--color-primary);
}
.sidebar a:hover span {
  margin-left: 1rem;
}

.main {
  margin-top: 1.4rem;
}
.main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.main .insights > div:hover {
  box-shadow: none;
}
.main .insights > div span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}
.main .insights > div.checked-out span {
  background: var(--color-danger);
}
.main .insights > div.total-income span {
  background: var(--color-success);
}
.main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

.dashboard-header {
  display: grid;
  width: 100%;
  gap: 0.5rem;
  grid-template-columns: 11rem auto;
}
.dashboard-header span {
  font-size: 3rem;
  width: 50px;
}
.dashboard-profile {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.dashboard-admin h3 {
  font-weight: 700;
  font-size: 0.9rem;
  margin: 0;
}
.dashboard-admin {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.main .recent-booking{
  margin-top: 2rem;
}
.main .recent-booking h2{
  font-weight: 800;
  margin-bottom: 0.8rem;
}
.main .recent-booking th,
.main .recent-booking td{
  font-size: 0.8rem;
  font-family: poppins, sans-serif;
}
.main .recent-booking table{
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  margin-bottom: 2rem;
}
.main .recent-booking table:hover{
  box-shadow: none;
}.main .recent-booking table thead th{
  height: 2.8rem;
}
.main .recent-booking table tbody td{
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
.main .recent-booking table tbody tr:last-child td{
 border: none;
}
.main .recent-booking table tbody tr td:last-child{
  color: var(--color-primary);
  font-weight: 600;
}
.error{
  font-size: 0.7rem;
  top: auto;
}
.customerInput {
  padding: 0.3rem;
  margin-top: 0.5rem;
}