@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@500&display=swap");
.containerPopular {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.textPopular {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 800;
}
