@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@500&display=swap");

.conHotelManager{
    margin-top: -1rem;
    margin-bottom: -1rem;
}
.conHotelManager p:nth-child(1),
.conHotelInformation p:nth-child(1){
    margin-bottom: -0.5rem;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}
.conHotelInformation{
    margin-top: 1.5rem;
    margin-bottom: -1.2rem;
}
.conHotelCover{
    width: 95%;
    height: 12rem;
}
.conHotelCover img{
    width: 30%;
    height: 30%;
}
.HotelCover{
    width: 100%;
    display: flex;
    justify-content: center;
}
.conHotelCoverImage{
    width: 95%;
    height: 12rem;
}
.conHotelCoverImage img{
    width: 90%;
}
.hotelDescription, 
.hotelLocation{
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-top: 0.5rem;
    height: 5rem;
}
.hotelLocation{
    height: 4rem;
}