@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@500&display=swap");

.conHotelManager{
    margin-top: -1rem;
    margin-bottom: -1rem;
}
.conHotelManager p:nth-child(1),
.conHotelInformation p:nth-child(1){
    margin-bottom: -0.5rem;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}
.conHotelInformation{
    margin-top: 1.5rem;
}