@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@500&display=swap");
.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
}
.title:hover {
  color: #ffffff;
}
.navbar,
.navbar-scroll {
  height: 5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.navbar-scroll {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
}
.title-scroll {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.title-scroll:hover {
  color: #000000;
}
@media (min-width: 768px) {
  .title,
  .title-scroll {
    font-size: 1.2rem;
    margin-left: 0.2rem;
    margin-top: -0.6rem;
  }
}

@media (min-width: 1024px) {
  .title,
  .title-scroll {
    font-size: 1.5rem;
    margin-left: 0.2rem;
    margin-top: -1rem;
  }
}

@media (min-width: 1440px) {
  .title,
  .title-scroll {
    font-size: 1.8rem;
    margin-left: 0.2rem;
    margin-top: -1rem;
  }
}
