@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.rdt_TableHeader{
    padding-top: 1rem;
    padding-right: 1rem !important;
}
.rdt_TableHeader button{
    font-family: poppins, sans-serif;
    font-weight: 600;
}
[data-column-id="columnName-1"].rdt_TableCol,
[data-column-id="columnName-2"].rdt_TableCol,
[data-column-id="columnName-3"].rdt_TableCol,
[data-column-id="columnName-4"].rdt_TableCol,
[data-column-id="columnName-5"].rdt_TableCol,
[data-column-id="columnName-6"].rdt_TableCol {
    font-family: poppins, sans-serif !important;
    font-weight: 800 !important;
    justify-content: center;
}